.text {
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.items {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 10px;
}
